:root {
  --poke-red: #9e2a2b;
  --rosewood: #540b0eff;
  --poke-yellow: #fff3b0;
  --indian-yellow: #e09f3eff;
  --deep-space-sparkle: #335c67ff;

  --poke-font: "Pokemon Solid", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
  font-family: var(--poke-font);
  letter-spacing: 2.5px;
  background-color: var(--poke-yellow);
}

/* navbar style start */

.navbar {
  color: var(--poke-yellow) !important;
  background-color: var(--poke-red) !important;
}

/* navbar style end*/

/* results card style start */

/* results card style end*/

/* about me page style start */

.about-me {
  color: #335c67ff;
}

.about-me-bio {
  letter-spacing: 0;
}

.panos-image {
  max-width: 25%;
  max-height: 25%;
  border-style: solid;
  border-color: #335c67ff;
  border-radius: 16px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.contact-me {
  letter-spacing: 2.5px;
}

/* about me page style end */

/* footer style start */

.footer {
  color: var(--poke-yellow) !important;
  background-color: var(--poke-red) !important;
  position: absolute;
  max-width: 100% !important;
  letter-spacing: 0;
  position: absolute;
  bottom: 0;
}

/* footer style end */
