:root {
  --poke-red: #9e2a2b;
  --rosewood: #540b0eff;
  --poke-yellow: #fff3b0;
  --indian-yellow: #e09f3eff;
  --deep-space-sparkle: #335c67ff;

  --poke-font: "Pokemon Solid", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--poke-font);
  letter-spacing: 2.5px;
  background-color: var(--poke-yellow);
}

.navbar {
  color: var(--poke-yellow) !important;
  background-color: var(--poke-red) !important;
}

.image {
  max-width: 80%;
  padding: 50px 50px 0 50px;
  margin: 0 auto;
}

.footer {
  color: var(--poke-yellow) !important;
  background-color: var(--poke-red) !important;
  max-width: 100% !important;
  letter-spacing: 0;
}
